.resume-section {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.timeline {
    list-style: none;
    position: relative;
    padding-left: 0;
}

.timeline li {
    margin-bottom: 30px;
    padding-left: 20px;
   
}

.timeline h4 span {
    color: goldenrod;
    font-weight: bold;
}

.desc {
    font-style: italic;
    margin: 5px 0;
    color: #666;
}

@media (max-width: 480px) {
    .resume-section {
        margin: 30px auto;
    }
}


.nav-bar {
    background-color: black;
    height: 60px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.navbar_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar_link li {
    margin: 0;
    padding: 0;
}

.navbar_link li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}


.navbar_link li a:hover {
    color: goldenrod;
}


.social_icons {
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 1000;
}

.social_icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social_icons ul li {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background: black;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_icons ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;

}

.social_icons ul li:hover {
    background: white;
    border-radius: 50%;
}

.social_icons ul li:hover a {
    color: goldenrod;
}

.timeline
{
    position:relative;
    list-style:none;
    padding-left:40px;
}

.timeline::before
{
    content:'';

    position:absolute;

    left:7px;
    top:0;

    width:3px;
    height:100%;

    background:gold;
}

/*---------------- TIMELINE BOX ----------------*/

.timeline li
{
    position:relative;

    background:white;

    padding:20px;

    margin-bottom:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/*---------------- TIMELINE DOT ----------------*/

.timeline li::before
{
    content:'';

    position:absolute;

    width:20px;
    height:20px;

    background:gold;

    border-radius:50%;

    left:-42px;
    top:25px;
}

/*---------------- TIMELINE HEADING ----------------*/

.timeline h4
{
    background:#5c5346;
    color:white;

    padding:10px;

    border-radius:5px;

    font-size:18px;
}

.timeline h4 span
{
    color:gold;
    font-weight:bold;
}

.desc
{
    color:gray;
    font-style:italic;
}
.about-image img
{
 border: 3px solid goldenrod;
 border-radius: 30;


}