.contact {
    padding: 50px 0;
    background: white;
    text-align: center;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

.contact h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-subtitle {
    color: #666;
    margin-bottom: 40px;
}


.contact-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items:stretch;
}


.contact-box {
    background: gold;
    padding: 25px;
    border-radius: 10px;
    transition: 0.5s;
}

.contact-box i {
    font-size: 40px;
    margin-bottom: 10px;
}

.contact-box h3 {
    margin: 10px 0;
    font-size: 20px;
}

.contact-box p 
{
    font-size: 15px;
    margin-top: 15px;
    color: #555;
}



.contact-box:hover {
    background: grey;
    color: white;
    border-radius: 25px;
    transform: translateY(-10px);
}

.contact-box:hover p {
    color: white;
}

.about-image img
{
 border: 3px solid goldenrod;
 border-radius: 30;
}

@media (max-width:768px)
{
    .contact-grid
    {
        grid-template-columns:1fr;
    }
}